body{
    padding:0px;
    margin:0px;
}
.Fundal {
    background-image:url(Images/fond-site.jpg);
    background-size:100% 100%;
    min-height:700px;
}

.Meniu{
    padding:10px;
    background:url(Images/Bara.jpg) no-repeat;     
    background-size:100% 100%;
}

.MarginClass {
    padding:20px;
    background-color:rgb(233,234,237);
    width:700px;
    margin-left:auto;
    overflow:hidden;
    margin-right:auto;
    margin-top:20px;
    border: 1px solid black; 
}
.MarginClass2 {
    background-color:rgb(233,234,237);
    width:700px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black; 
}
li{
display: inline;
list-style-type: none;
padding-right: 15px;
}
a {
    text-decoration: none;
    color:grey;
    padding:5px;
}
a:active{
    color:black;
}
a:hover{
    background-color:black;
    color:white;
}
.inline{
    padding-right: 20px;
    display:inline;
}
.meniuItem{
background-color:red;
}
ul{

    background-color:transparent;
}
 #menu ul:hover {
        background-color: white;
        
    }
    .ElementeCategorie{
        margin-top:15px;
        display:block;
    }
  .textCentru{
        display:block;
        width:250px;
        margin-left:auto;
        margin-right:auto;
        
    }
  .RecomandariContainer{
      float:right;
     
          padding:5px;
  }
  .cursuriAsemanatoare{
       border: 1px solid black; 
          background-color:rgb(233,234,237);
          padding:5px;
          margin:5px;
  }
  .cursuriPtUser{
           border: 1px solid black; 
          background-color:rgb(233,234,237);
          padding:5px;
          margin:5px;
  }
  .reviewCurs{
      padding:10px;
      border-bottom:1px solid black;
  }